<div class="row">
    <div class="col">
        <input #filter type="text" (keyup)="buscar(filter.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>
<div class="card-columns m-5">
    <div *ngFor="let artist of artists" class="card">
        <img class="card-img-top" [src]="artist.images[0].url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">
                <!-- <span *ngFor="let artist of artist.artists" class="badge badge-pill badge-primary">{{artist.name}}</span> -->

            </p>
        </div>
    </div>
</div>