<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger">
    <h3>Error</h3>
    <p>{{mensajeError}}</p>
</div>
<app-cards [items]="releases"></app-cards>

<!--<div class="card-columns">
    <div *ngFor="let item of releases" class="card">
        <img class="card-img-top" [src]="item.images[0].url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">{{artist.name}}</span>

            </p>
        </div>
    </div>
</div>-->